* {
  padding: 0;
  margin: 0;
  border: none;
  outline: 0;
  vertical-align: baseline;
  font-size: 100%;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

@font-face {
  font-family: 'salbo';
  src: url("fonts/Slabo27px-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  /* src: url('fonts/Slabo27px-Regular.eot') format('eot'),
  		url('fonts/Slabo27px-Regular.ttf') format('ttf'),
  		url('fonts/Slabo27px-Regular.woff') format('woff'),
  		url('fonts/Slabo27px-Regular.woff2') format('woff2'); */ }
body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-style: normal; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

/* theme colors */
._00bcd4 {
  color: #00BCD4 !important; }

.bg00bcd4 {
  background-color: #00BCD4 !important;
  color: #FFF !important; }

.cfa:after, .cfb:before {
  display: table;
  content: " ";
  clear: both; }

.fr {
  float: right; }

.fl {
  float: left; }

/* button */
.btn {
  padding: 10px;
  display: inline-block; }

.mainWrapper {
  width: 100%; }

#header {
  width: 960px;
  height: 70px;
  background-color: #FFF;
  margin: 0 auto; }
  #header ul {
    display: inline-block;
    margin-top: 26px; }
    #header ul li {
      float: left;
      margin-right: 25px;
      font-size: 1.14286em;
      line-height: 1em; }
      #header ul li.last {
        margin-right: 0; }

.bgOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10; }

.bgImg {
  width: 100%;
  height: 100%; }

.album {
  margin-top: 70px; }
  .album li {
    float: left; }
  .album .holder {
    width: 300px;
    background-color: #FFF;
    margin-right: 50px;
    position: relative; }
    .album .holder .subHeader {
      padding: 15px;
      font-size: 1.14286em;
      line-height: 1em;
      color: #727272; }
    .album .holder .logoImg {
      width: 100%; }
    .album .holder .subFooter {
      padding: 10px 10px; }
      .album .holder .subFooter span {
        display: block; }
      .album .holder .subFooter .name {
        font-size: 1.28571em;
        line-height: 1.5em; }
      .album .holder .subFooter .period {
        font-size: 1em;
        line-height: 1.5em;
        color: #727272; }
    .album .holder .seeMore {
      position: absolute;
      bottom: 30px;
      right: 20px;
      font-size: 2.14286em;
      display: block;
      cursor: pointer; }
      .album .holder .seeMore span {
        display: block;
        line-height: 1em;
        margin-top: -24px; }
    .album .holder .onHover {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      color: #000;
      background-color: #FFF;
      display: none; }
      .album .holder .onHover .subFooter {
        border-bottom: 1px solid #e0e0e0; }
      .album .holder .onHover .desc {
        color: #727272;
        padding: 10px;
        font-size: 1em;
        margin-top: 15px; }
  .album .holder:hover .onHover {
    display: block; }

/* content start */
.bgContainer {
  height: 500px;
  position: relative; }
  .bgContainer .innerWrapper {
    width: 960px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 20;
    display: table; }
    .bgContainer .innerWrapper .introText {
      text-align: center;
      margin-top: 60px;
      color: #FFF;
      display: table-cell;
      vertical-align: middle; }
      .bgContainer .innerWrapper .introText h1 {
        font-size: 5.14286em;
        line-height: 1em; }
      .bgContainer .innerWrapper .introText p {
        font-size: 2em;
        line-height: 1em;
        font-weight: 300;
        font-style: normal;
        margin-top: 25px; }
      .bgContainer .innerWrapper .introText .btn {
        margin-top: 40px;
        font-size: 2em;
        line-height: 1em; }

/* biodata start */
.biodataWraper {
  background-color: #fafafa;
  width: 100%; }

.biodata {
  width: 960px;
  margin: 0 auto;
  padding: 70px 0; }
  .biodata .objectives {
    width: 30%;
    float: left; }
  .biodata .forTab {
    width: 70%;
    float: left; }
  .biodata .me, .biodata .myInfo {
    width: 40%; }
  .biodata .me {
    margin: 0 5%;
    height: 300px;
    padding: 10px;
    background-color: #FFF; }
    .biodata .me .myPassport {
      width: 100%;
      height: 100%; }
  .biodata .objectives h2, .biodata .myInfo h2 {
    font-size: 1.85714em;
    line-height: 1em; }
  .biodata .objectives p, .biodata .myInfo p {
    color: #727272;
    font-size: 1.07143em;
    line-height: 1.8em;
    margin-top: 20px; }
  .biodata .objectives .pInfo, .biodata .myInfo .pInfo {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #cccccc;
    margin-top: 0; }
    .biodata .objectives .pInfo.first, .biodata .myInfo .pInfo.first {
      margin-top: 20px;
      padding: 0 0 10px 0; }
    .biodata .objectives .pInfo span, .biodata .myInfo .pInfo span {
      display: inline-block;
      width: 70%;
      text-align: left; }
      .biodata .objectives .pInfo span.label, .biodata .myInfo .pInfo span.label {
        width: 20%;
        text-align: right;
        margin-right: 8%; }

/* experience */
.experience, .education, .portfolio, .contactMe {
  width: 100%;
  padding: 60px 0; }
  .experience .workExp, .experience .college, .experience .myWork, .experience .conInfo, .education .workExp, .education .college, .education .myWork, .education .conInfo, .portfolio .workExp, .portfolio .college, .portfolio .myWork, .portfolio .conInfo, .contactMe .workExp, .contactMe .college, .contactMe .myWork, .contactMe .conInfo {
    width: 960px;
    margin: 0 auto; }
    .experience .workExp h3, .experience .college h3, .experience .myWork h3, .experience .conInfo h3, .education .workExp h3, .education .college h3, .education .myWork h3, .education .conInfo h3, .portfolio .workExp h3, .portfolio .college h3, .portfolio .myWork h3, .portfolio .conInfo h3, .contactMe .workExp h3, .contactMe .college h3, .contactMe .myWork h3, .contactMe .conInfo h3 {
      font-size: 2.28571em;
      line-height: 1em;
      color: #FFF; }
    .experience .workExp .desc, .experience .college .desc, .experience .myWork .desc, .experience .conInfo .desc, .education .workExp .desc, .education .college .desc, .education .myWork .desc, .education .conInfo .desc, .portfolio .workExp .desc, .portfolio .college .desc, .portfolio .myWork .desc, .portfolio .conInfo .desc, .contactMe .workExp .desc, .contactMe .college .desc, .contactMe .myWork .desc, .contactMe .conInfo .desc {
      font-size: 1.28571em;
      line-height: 1.8em;
      color: #FFF;
      margin-top: 30px; }

.portfolio {
  background-color: #fafafa; }
  .portfolio .myWork h3 {
    color: #000; }
  .portfolio .myWork .desc {
    color: #727272; }

/* skill start */
.skill.bgContainerSkill {
  width: 100%;
  height: 600px;
  display: table;
  position: relative;
  z-index: 10; }
  .skill.bgContainerSkill .bgOverlay {
    background-color: rgba(255, 255, 255, 0.92); }
  .skill.bgContainerSkill .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 4.42857em;
    line-height: 1em;
    color: #FFF;
    z-index: 30; }
  .skill.bgContainerSkill .showSkill {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 960px;
    height: 100%;
    z-index: 300; }
    .skill.bgContainerSkill .showSkill .desc {
      width: 33%;
      margin-right: 7%;
      float: left;
      padding: 70px 10px; }
      .skill.bgContainerSkill .showSkill .desc h3, .skill.bgContainerSkill .showSkill .desc p {
        color: #000; }
      .skill.bgContainerSkill .showSkill .desc h3 {
        font-size: 2.28571em;
        line-height: 1em;
        margin-bottom: 30px; }
      .skill.bgContainerSkill .showSkill .desc p {
        font-size: 1.28571em;
        line-height: 1.6em;
        color: #727272; }
    .skill.bgContainerSkill .showSkill .barChart {
      float: left;
      width: 60%;
      margin-top: 70px; }
      .skill.bgContainerSkill .showSkill .barChart .codeSkill {
        display: block;
        margin-bottom: 30px; }
      .skill.bgContainerSkill .showSkill .barChart .skillP {
        font-size: 1.07143em;
        line-height: 1em;
        padding: 17px 10px 17px 0; }
      .skill.bgContainerSkill .showSkill .barChart .tech {
        font-size: 1.07143em;
        line-height: 1em;
        padding: 17px 10px 0 17px; }
      .skill.bgContainerSkill .showSkill .barChart .skillBar {
        width: 70%; }
        .skill.bgContainerSkill .showSkill .barChart .skillBar .indicator {
          height: 1px;
          margin-top: 24px;
          position: relative; }
        .skill.bgContainerSkill .showSkill .barChart .skillBar .indicator:after {
          width: 6px;
          height: 6px;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          content: " ";
          background-color: #00bcd4;
          position: absolute;
          right: -3px;
          top: -3px; }
      .skill.bgContainerSkill .showSkill .barChart .bar {
        height: 50px;
        display: block; }
      .skill.bgContainerSkill .showSkill .barChart ._10p {
        width: 10%; }
      .skill.bgContainerSkill .showSkill .barChart ._5p {
        width: 5%; }
      .skill.bgContainerSkill .showSkill .barChart ._15p {
        width: 25%; }
      .skill.bgContainerSkill .showSkill .barChart ._30p {
        width: 30%; }
      .skill.bgContainerSkill .showSkill .barChart ._85p {
        width: 75%; }
      .skill.bgContainerSkill .showSkill .barChart ._90p {
        width: 90%; }
      .skill.bgContainerSkill .showSkill .barChart ._95p {
        width: 95%; }
      .skill.bgContainerSkill .showSkill .barChart ._70p {
        width: 70%; }
      .skill.bgContainerSkill .showSkill .barChart ._80p {
        width: 80%; }

.contactMe h3 {
  margin-bottom: 10px; }
.contactMe .address {
  margin-bottom: 5px; }
.contactMe .emailId {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #fff; }

@media screen and (max-width: 1024px) {
  #header, .biodata {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }

  .biodata .objectives {
    display: block;
    width: 100%;
    float: none; }
  .biodata .forTab {
    width: 672px;
    margin: 0 auto;
    float: none;
    margin-top: 30px; }
  .biodata .objectives:after, .biodata .forTab:before {
    content: " ";
    display: table;
    clear: both; }

  .bgContainer .innerWrapper {
    width: 100%; }

  .experience .workExp, .experience .college, .experience .myWork, .experience .conInfo, .education .workExp, .education .college, .education .myWork, .education .conInfo, .portfolio .workExp, .portfolio .college, .portfolio .myWork, .portfolio .conInfo, .contactMe .workExp, .contactMe .college, .contactMe .myWork, .contactMe .conInfo {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }

  .skill.bgContainerSkill .showSkill {
    width: 100%; } }
.craousel {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .craousel .slider {
    width: 6000px;
    height: 100%; }
    .craousel .slider .slide {
      width: 200px;
      height: 100%;
      float: left; }
      .craousel .slider .slide img {
        width: 100%;
        height: 100%; }
  .craousel .slider:after {
    content: " ";
    display: table;
    clear: both; }

.myCraousel {
  width: 600px;
  height: 200px; }

/*# sourceMappingURL=main.css.map */
