* {
	padding: 0;
	margin: 0;
	border: none;
	outline: 0;
	vertical-align: baseline;
	font-size: 100%;
	background: transparent; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul,ol{
	list-style: none;
}

@font-face{
	font-family:'salbo';
	src: url('fonts/Slabo27px-Regular.woff2') format('woff2');
	font-style: normal;
	 font-weight: 400;
	/* src: url('fonts/Slabo27px-Regular.eot') format('eot'),
			url('fonts/Slabo27px-Regular.ttf') format('ttf'),
			url('fonts/Slabo27px-Regular.woff') format('woff'),
			url('fonts/Slabo27px-Regular.woff2') format('woff2'); */
}


body{
	font-family:sans-serif;
	font-size: 14px;
	line-height: 14px;
	font-style: normal; 
}
a{
	text-decoration: none;
	color: inherit;
	cursor: pointer; 
}


/* theme colors */
._00bcd4{
	color: #00BCD4 !important;
}
.bg00bcd4{
	background-color: #00BCD4 !important;
	color: #FFF !important;
}

// clear float
.cfa:after,.cfb:before{
	display: table;
	content: " ";
	clear: both;
}
.fr{
	float: right;
}
.fl{
	float: left;
}

/* button */
.btn{
	padding: 10px;
	display: inline-block;
}


// Header css start
.mainWrapper{
	width: 100%;
}
#header{
	width: 960px;
	height: 70px;
	background-color: #FFF; 
	margin: 0 auto;
	ul{
		display: inline-block;
		margin-top: 26px;
		li{
			float: left;
			margin-right: 25px;
			font-size: 16px/14px*1em;
			line-height: 1em;  
			&.last{
				margin-right: 0;
			}
		}
	}
}

// header end

.bgOverlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.7);
	z-index: 10; 
}

.bgImg{
	width: 100%;
	height: 100%;
}

.album{
	margin-top: 70px;	
	li{
		float: left;
	}
	.holder{
		width: 300px;
		background-color: #FFF; 
		margin-right: 50px;
		position: relative;
		.subHeader{
			padding: 15px;
			font-size: 16px/14px*1em; 
			line-height: 1em;
			color: #727272;
		}		
		.logoImg{
			width: 100%;
		} 
		.subFooter{
			padding: 10px 10px;
			span{
				display: block;
			}
			.name{
				font-size: 18px/14px*1em; 
				line-height: 1.5em;
			}
			.period{
				font-size: 14px/14px*1em; 
				line-height: 1.5em;
				color: #727272;
			}
		}
		.seeMore{
			position: absolute;
			bottom: 30px;
			right: 20px;
			font-size: 30px/14px*1em;
			display: block;
			cursor: pointer;
			span{
				display: block;
				line-height: 1em;
				margin-top: -24px;
			} 
		}
		.onHover{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			color: #000;
			background-color: #FFF;  
			display: none;
			.subFooter{
				border-bottom: 1px solid #e0e0e0; 
			}
			.desc{
				color: #727272;
				padding: 10px;
				font-size: 14px/14px*1em; 
				margin-top: 15px;
			}
		}
		
		}
		.holder:hover{
			.onHover{
				display: block;
			}
	}
}

/* content start */
.bgContainer{
	height: 500px;
	position: relative;
	
	
	.innerWrapper{
		width: 960px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: 20;		
		display: table;
		.introText{
			text-align: center;
			margin-top: 60px;
			color: #FFF; 
			display: table-cell;
			vertical-align: middle;
			h1{
				font-size: 72px/14px*1em;
				line-height: 1em;
			}
			p{
				font-size: 28px/14px*1em;
				line-height: 1em; 
				font-weight: 300; 
				font-style: normal;
				margin-top: 25px; 
			}
			.btn{
				margin-top: 40px; 
				font-size: 28px/14px*1em;
				line-height: 1em; 
			}
		}
	}
}


/* biodata start */
.biodataWraper{
	background-color: #fafafa;
	width: 100%;
}
.biodata{
	width: 960px;
	margin: 0 auto;
	padding: 70px 0; 
	.objectives,.me,.myInfo{
		width: 30%;
	}
	.me{
		margin: 0 5%;
		height: 300px;
		padding: 10px;
		background-color: #FFF; 
		.myPassport{
			width: 100%;
			height: 100%;
		} 
	}
	.objectives,.myInfo{
		h2{
			font-size: 26px/14px*1em;
			line-height: 1em; 
		}
		p{
			color: #727272;
			font-size: 15px/14px*1em;
			line-height: 1.8em;  
			margin-top: 20px;
		}
		.pInfo{
			width: 100%;
			padding: 10px 0;
			border-bottom: 1px solid #cccccc; 
			margin-top: 0; 
			&.first{
				margin-top: 20px;
				padding:  0 0 10px 0;
			}
			span{
				display: inline-block;
				width: 70%;
				text-align: left;
				&.label{
					width: 20%;
					text-align: right;
					margin-right: 8%;
				}
			}
		}
	}
}


/* experience */
.experience,.education,.portfolio{
	width: 100%;
	// height: 350px;
	padding: 60px 0;
	.workExp,.college,.myWork{
		width: 960px;
		margin: 0 auto;
		h3{
			font-size: 32px/14px*1em;
			line-height: 1em;
			color: #FFF;  
		}
		.desc{
			font-size: 18px/14px*1em;
			line-height: 1.8em;
			color: #FFF;
			margin-top: 30px;  
		}
	}	
}

.portfolio{
	background-color: #fafafa;
	.myWork{
	h3{
		color: #000; 
	}
	.desc{
		color: #727272; 
	}
}
}



/* skill start */
.skill{
	&.bgContainerSkill{
		width: 100%;
		height: 600px;
		// background-color: #c3c3c3; 
		display: table;
		position: relative;
		z-index: 10;
		.bgOverlay{
			background-color: rgba(255,255,255, .92); 
		}
		.content{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			font-size: 62px/14px*1em;
			line-height: 1em; 
			color: #FFF;
			z-index: 30;  
		}
		.showSkill{
			position: absolute;
			bottom: 0;
			top: 0;
			right: 0;
			left: 0;
			margin: 0 auto;
			width: 960px;
			height: 100%;
			z-index: 300;
			.desc{
				width: 33%;
				margin-right: 7%;
				float: left;
				padding: 70px 10px;
				h3,p{
					color: #000; 
				}
				h3{
					font-size: 32px/14px*1em;
					line-height: 1em; 
					margin-bottom: 30px;
				}
				p{
					font-size: 18px/14px*1em;
					line-height: 1.6em;
					color: #727272; 
				}
			}
			.barChart{
				float: left;
				width: 60%;
				margin-top: 70px;
				.codeSkill{
					display: block;
					margin-bottom: 30px;
				}
				.skillP{
					font-size: 15px/14px*1em;
					line-height: 1em;
					padding: 17px 10px 17px 0;  
				}
				.tech{
					font-size: 15px/14px*1em;
					line-height: 1em;
					padding: 17px 10px 0 17px;  
				}
				.skillBar{
					width: 70%;
					.indicator{
						height: 1px;
						margin-top: 24px; 
						position: relative; 
					}
					.indicator:after{
						width: 6px;
						height: 6px;
						-webkit-border-radius: 50%; 
						border-radius: 50%; 
						content: " ";
						background-color: #00bcd4; 
						position: absolute;
						right: -3px;
						top: -3px;
					}


				}
				
				.bar{
					height: 50px;				
					display: block;
				}
				._10p{
					width: 10%;
				}
				._5p{
					width: 5%;
				}
				._15p{
					width: 25%;
				}
				._30p{
					width: 30%;
				}
				._85p{
					width: 75%;
				}
				._90p{
					width: 90%;
					
				}
				._95p{
					width: 95%;
				}
				._70p{
					width: 70%;
				}
				._80p{
					width: 80%;
				}
			}
	}
	}
}